figure{
    width:200px; /*container-width*/
    overflow: hidden; /*hide bounds of image */
    margin:0 auto; /*reset margin of figure tag*/
    border-radius: 50%;
    border: 5px solid #ddd;
    float: right;
 }

 figure img{
    display:block; /*remove inline-block spaces*/  
    margin:0 -38.885%;
    width:157.777%;
 }

 //Media queries at the end of the document
@media only screen and (max-width: 600px) {
   figure {
      width: 120px;
      border-width: 2px;
   }

   figure img {
      width:157.777%;
   }
}
