<div id="contact" style="text-align: center; width: 100%;">
  <p>
    {{ 'CONTACTTEXT1' | translate }}
  </p>
  <p>
    <a href="mailto:dana.shmaria@gmail.com">
      <button mat-flat-button color="accent">{{ 'CONTACTBUTTON' | translate | uppercase }}</button>
    </a>
  </p>
  <!--<p>{{ 'CONTACTTEXT2' | translate }}</p>-->
  <p style="margin-top: 4em;">
    <a href="https://www.linkedin.com/in/dana-s-021430152/"><img width="30px" src="../../assets/linkedin-logo.png" /></a>
    <a href="https://github.com/laquesisa"><img width="30px" src="../../assets/github-logo.png" /></a>
  </p>
</div>