.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
@keyframes slidein {
    from {
        width: 0px;
        background-color: rgba(255,255,255,0);
    }
    to { 
        transform: scaleX(1);
        background-color: white;
    }
 }

 .skillbar-animation {
    animation: 2s linear 1s slidein;
 }


.skillbar-bar {
    animation-fill-mode: forwards;
    height: 3px;
    width: 0px;
    transition-property: width, background-color;
}

.skillbar-title {
    //color: #323232;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {
    float: right;
    display: inline-block;
    //color: #323232;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

/* CENTERING ONLY */

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}