<div id="top-menu" class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-sm-0">
      <app-navigation></app-navigation>
    </div>
    <div class="col-xl-10 col-sm-12" style="padding: 0;">
      <div class="row content">
        <div parallax id="container" class="background">
          <div class="layer">
            <div class="language-toggler">
              {{ 'ENGLISH' | translate }}
              <mat-slide-toggle (click)="changeLang()">
                {{ 'GERMAN' | translate }}
              </mat-slide-toggle>
            </div>
            <div id="landing" class="landing animated fadeInUp delay-1s">
              <h1>
                {{ 'TITLE' | translate | uppercase }}
              </h1>
              <h2>
                {{surname | uppercase}} {{lastname | uppercase}}
              </h2>
              <h3>{{ 'SUBTITLE' | translate }}
                <br /> {{ 'COUNTRY' | translate }}</h3>
            </div>
          </div>
          <div class="information">
            <app-aboutme></app-aboutme>
            <mat-divider class="margin"></mat-divider>
            <app-mytimeline></app-mytimeline>
            <mat-divider class="margin"></mat-divider>
            <app-programmingskills></app-programmingskills>
            <mat-divider class="margin"></mat-divider>
            <app-toolknowledge></app-toolknowledge>
            <div class="margin"></div>
            <app-contact></app-contact>
            <div class="siteinformation">
              <p class="mat-body">{{ 'SITEINFORMATION' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>