%gray-background {
    background-color: rgb(5, 4, 4);
}

.aboutme {
    background-color: rgb(10, 32, 19);
}

.content {
    color: white;
    //text-align: center;
}

.background {
    background-image: url('../assets/background2.jpg');
    width: 100%;
    height: 100%;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 2em 6em;
}

.col-xl-2 {
    @extend %gray-background;
}

.language-toggler {
    position: absolute;
    top: 2em;
    right: 1em;
}

.margin {
    margin: 6em 0;
}

h1 {
    margin-top: 30vh;
}

.landing {
    margin-bottom: 42vh;
    display: block;
    //text-align: center;
}

.information {
    //@extend %gray-background;
    //margin-left: -3em;
    //margin-right: -3em;
}

h2 {
    font-size: 800%;
    line-height: 100%;
}