<ul id="navigation" (scroll)="scrollHandler($event)" class="animated fadeInUp delay-1s">
  <li [ngClass]="activeRoute=='top-menu' ? 'active' : ''">
    <a (click)="active('top-menu');scroll('top-menu')" link="#top-menu">Home</a>
  </li>
  <li [ngClass]="activeRoute=='aboutme' ? 'active' : ''">
    <a (click)="active('aboutme');scroll('aboutme')" link="#aboutme">{{ 'HEADER1' | translate }}</a>
  </li>
  <li [ngClass]="activeRoute=='mytimeline' ? 'active' : ''">
    <a (click)="active('mytimeline');scroll('mytimeline')" link="#mytimeline">{{ 'HEADER2' | translate }}</a>
  </li>
  <li [ngClass]="activeRoute=='programmingskills' ? 'active' : ''">
    <a (click)="active('programmingskills');scroll('programmingskills')" link="#programmingskills">{{ 'HEADER3' | translate }}</a>
  </li>
  <li [ngClass]="activeRoute=='toolknowledge' ? 'active' : ''">
    <a (click)="active('toolknowledge');scroll('toolknowledge')" link="#toolknowledge">{{ 'HEADER4' | translate }}</a>
  </li>
  <li [ngClass]="activeRoute=='contact' ? 'active' : ''">
    <a (click)="active('contact');scroll('contact')" link="#contact">{{ 'CONTACTBUTTON' | translate }}</a>
  </li>
</ul>