ul {
    position: fixed;
    top: 34vh;
    color: white;
    list-style: none;
    padding-left: 1em;
    li {
        margin-top: 1em;
        a {
            color: rgba(255,255,255,0.5);
        }
        a:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

li.active a {
    color: rgba(255,255,255,1) !important;
}