<div id="mytimeline">
  <h4 class="mat-h4">{{ 'HEADER2' | translate }}</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline8">
          <div class="timeline">
            <span class="timeline-icon"></span>
            <span class="year">{{ 'TIMELINENODE1' | translate }}</span>
            <div class="timeline-content">
              <h3 class="title">2011 - 2017</h3>
              <p class="description">
                {{ 'TIMELINENODE1-DESCRIPTION' | translate }}
              </p>
            </div>
          </div>
          <div class="timeline">
            <span class="timeline-icon"></span>
            <span class="year">{{ 'TIMELINENODE2' | translate }}</span>
            <div class="timeline-content">
              <h3 class="title">2015 - 2017</h3>
              <p class="description">
                {{ 'TIMELINENODE2-DESCRIPTION' | translate }}
              </p>
            </div>
          </div>
          <div class="timeline">
            <span class="timeline-icon"></span>
            <span class="year">{{ 'TIMELINENODE3' | translate }}</span>
            <div class="timeline-content">
              <h3 class="title">2017 - {{ 'NOW' | translate }}</h3>
              <p class="description">
                {{ 'TIMELINENODE3-DESCRIPTION' | translate }}
              </p>
            </div>
          </div>
          <div class="timeline">
            <span class="timeline-icon"></span>
            <span class="year">{{ 'TIMELINENODE4' | translate }}</span>
            <div class="timeline-content">
              <h3 class="title">2017 - {{ 'NOW' | translate }}</h3>
              <p class="description">
                {{ 'TIMELINENODE4-DESCRIPTION' | translate }}
                <li>Aug17 - Jun18: {{ 'TIMELINENODE4.1' | translate }}</li>
                <li>Jun18 - Mar19: {{ 'TIMELINENODE4.2' | translate }}</li>
              </p>
            </div>
          </div>
          <div class="timeline">
            <span class="timeline-icon"></span>
            <span class="year">{{ 'TIMELINENODE5' | translate }}</span>
            <div class="timeline-content">
              <h3 class="title">2018</h3>
              <p class="description">
                <li>Aug18: {{ 'TIMELINENODE5.1' | translate }}</li>
                <li>Okt18: {{ 'TIMELINENODE5.2' | translate }}</li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>