<div id="mytimeline">
  <h4>My Timeline</h4>
  <ul>
    <li>2011-2017: Gymnasium at KS Seetal</li>
    <li>2015-2017: PowerUser at KS Seetal (Techsupport)</li>
    <li>2017-Now: Student at FFHS in computer science & software engineer at swisscom
      <ul>
        <li>Aug17 - Jun18: NNI (RubyonRails - developed web application for automated network operations</li>
        <li>Jun18 - Mar19: VicoTV (ReactNative - intrapreneur / projekt lead of an internal startup and
          frontend developer of an mobile application</li>
      </ul>
    </li>
    <li>Hackathons
      <ul>
        <li>Aug18: Bern hackt</li>
        <li>Okt18: HackUPC Barcelona</li>
      </ul>
    </li>
  </ul>
</div>